<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>FastAPI</title>
    <style>
    </style>
</head>

<body>
    <form>
        <input type="text" id="username" placeholder="Nome">
        <input type="text" id="senha" placeholder="Senha">
        <button type="button" id="botao-alvo">Enviar Login</button>
    </form>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector("#botao-alvo").addEventListener('click', async function enviarLogin() {
            const dados = {
                username: document.getElementById('username').value,
                senha: document.getElementById('senha').value,
            };

            const resposta = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dados)
            });

            if (resposta.ok) {
                const resultado = await resposta.json();
                alert(resultado.message);
                window.location.href = "/profile";
            } else {
                alert("Erro");
            }
        })
    });
</script>

</html>